@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --roxo: rgba(86, 63, 145, 255);
    --yellow: #f2b22e;
}




.container-inicio {
    background-image: url("../img/bg-contato.jpg");
    background-size: cover;
    background-position: center 30%;
    height: 100vh;

}

.body {
    background-color: var(--roxo);
}

.container-meio {
    background-color: var(--roxo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-login {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    max-width: 600px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10vh;
}

.container-login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-login label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.container-login input {
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    width: calc(50% - 5px);
    background-color: #f6f6f6;
    height: 40px;
}

.container-login textarea {
    background-color: #f6f6f6;
    height: 30px;
    width: calc(100%);
    resize: none;
}

.container-login input[type="text"]::placeholder {
    color: #999;
}

.container-login button[type="submit"] {
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 18px;
    background-color: var(--roxo);
    color: #fff;
    cursor: pointer;
    flex-basis: calc(50% - 5px);
    height: 90%;
    margin-top: 10px;
}

.container-login button[type="submit"]:hover {
    background-color: #6c2d73;
}

.container-login .email-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.container-login #email {
    flex-basis: calc(50% - 5px);
}

.container-login i {
    margin-right: 10px;
    font-size: 20px;
    color: var(--roxo);
}

.container-login span {
    font-size: 18px;
    font-weight: normal;
    color: black;
}


header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: transparent;
    background-color: transparent;
    padding: 10px 6%;
  }
  
  .header-link {
    display: flex;
    gap: 3rem;
    padding-top: 10px;
    cursor: pointer;
  }
  
  .header-link a {
    color: rgba(255, 255, 255, 0.778);
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
  }
  
  .header-link a:hover {
    color: var(--roxo);
  }

  .logo {
    color: var(--yellow);
    display: inline-block;
    font: 400 2rem "Righteous", cursive;
    font-size: 2.8rem;
    letter-spacing: -2px;
    font-weight: 700;
  }
  
  .logo .span {
    display: inline-block;
    color: white;
  }
  