@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
:root {
  --roxo: rgba(86,63,145,255);
  --yellow: #f2b22e;
}


.container-inicio {
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-position: center top;
  height: 100vh;


}

.container-meio {
  background-color: var(--roxo);
  z-index: -1;
  

}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  background: transparent;
  background-color: transparent;
  padding: 10px 6%;
}

.header-link {
  display: flex;
  gap: 3rem;
  padding-top: 10px;
  cursor: pointer;
}

.header-link a {
  color: rgba(255, 255, 255, 0.778);
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
}

.header-link a:hover {
  color: var(--roxo);
}

.header-link li:last-child a:last-child{
  border-radius: 10px;
  padding: 12px 20px;
  background-color: var(--roxo);
  color: white;
  transition: 0.5s;
  
}

.logo {
  color: var(--yellow);
  display: inline-block;
  font: 400 2rem "Righteous", cursive;
  font-size: 2.8rem;
  letter-spacing: -2px;
  font-weight: 700;
}

.logo .span {
  display: inline-block;
  color: white;
}

.container {
  padding-top: 10%;
  display: flex;
  justify-content: left;  
}

.body-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 6%;
  color: white;
}

.body-text .h1 {
  color: var(--yellow);
  font-size: 30px;
}

.button-cadastrar {
  margin-top: 10px;
  background-color: var(--yellow);
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 12px 40%;
}




